<html>
<head>

</head>
<body>
<div class="navbar">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <div class="toggle">Workflow</div>
    <div class="navbar-collapse">
        <ul class="left-menu">
            <li>
                <a>工作台</a>
            </li>
            <li>
                <a>任务管理</a>
            </li>
            <li>
                <a>通知管理</a>
            </li>
        </ul>
        <ul class="right-menu">
            {% if current_user.is_authenticated %}
            <li class="dropdown-toggle">
                <a class="dropdown-toggle" onclick="dropdown()">啊啊啊</a>
                <ul class="dropdown-menu" id="dropdown-menu" style="display: none">
                    <li>
                        <a>工作台</a>
                    </li>
                    <li>
                        <a>任务管理</a>
                    </li>
                    <li>
                        <a>通知管理</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/logout">退出</a>
                    </li>
                </ul>
            </li>
            {% else %}
                <li>
                    <a href="/login">请登录 </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
<style>

</style>
<script>
    function dropdown() {
        var display = $('#dropdown-menu')[0].style.display;
        $('#dropdown-menu')[0].style.display = display == "" ? "none" : "";
    }

</script>
</body>
</html>
