{% extends 'base.html' %}

{% block title %} 首页 {% endblock %}
{% block navbar %}
    {% with tab=0 %}
        {% include 'fragment/navbar.html' %}
    {% endwith %}
{% endblock %}

{% block content %}
    <script type="text/javascript" src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <link rel="stylesheet" href="../static/css/flex-calendar.css">
    <script type="text/javascript" src="../static/js/flex-calendar.js"></script>
    <script type="text/javascript" src="../static/js/mycalendar.js"></script>
    {% raw %}
    <div ng-app="app">
        <div ng-controller="MainController">
            <div class="wrapp">
                <flex-calendar options="options" events="events"></flex-calendar>
            </div>
            <br/>
        </div>
    </div>
    {% endraw %}
    <style>

    </style>
{% endblock %}