<html>
<head>
    <title>登录</title>
    <link href="../static/css/login.css" rel="stylesheet">
</head>
<body>
{%import "bootstrap/wtf.html" as wtf %}
<div class="base">
    <div class="background"></div>
    <div class="center-box">
        <div class="title">Workflow
            <p>工作流管理系统</p>
        </div>
        {% for message in get_flashed_messages() %}
            <div class="message">{{ message }}</div>
        {% endfor %}
        <div class="login-box">
            <div class="title_label"></div>
            {{wtf.quick_form(form)}}
        </div>
    </div>
</div>

</body>
</html>