<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <link rel="stylesheet" href="../static/css/obase.css">
    <script src="../static/js/obase.js"></script>
    {% block head %}
    {% endblock %}
    <title>{% block title %}Title {% endblock %}</title>
</head>
<body>
<div>
    <div class="barrage" id="barrage">
    </div>
</div>
<div>
    {% block navbar %}
    {% endblock %}
</div>
<div>
    {% block content %}
    {% endblock %}
</div>
<style>

</style>
<script>


</script>
</body>
</html>